#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# ignore key files
**/tmp

# ignore ansible retry files
*.retry

# ignore IDE files
.idea/

# service principal auth secrets
set-sp.sh
