local_file_dir=$(cd "$(dirname "$BASH_SOURCE")" && pwd)
workspace=$(basename $${local_file_dir})
remote_dir="~/Azure_SAP_Automated_Deployment/WORKSPACES/LOCAL/$${workspace}"
ssh_timeout_s=10

printf "%s\n" "Create remote workspace if not exists"

%{~ for index, deployer in deployers ~}
ssh -i $${local_file_dir}/${deployer-ppk}  -o StrictHostKeyChecking=no -o ConnectTimeout=$${ssh_timeout_s} ${deployer.authentication.username}@${deployer-ips[index]} "[ -d $${remote_dir} ] && mkdir -p $${remote_dir}"
%{ endfor ~}

printf "%s\n" "Start uploading deployer tfstate"

%{~ for index, deployer in deployers ~}
scp -i $${local_file_dir}/${deployer-ppk} -o StrictHostKeyChecking=no -o ConnectTimeout=$${ssh_timeout_s} $${local_file_dir}/terraform.tfstate ${deployer.authentication.username}@${deployer-ips[index]}:$${remote_dir}
%{ endfor ~}

printf "%s\n" "Start uploading deployer json"

%{~ for index, deployer in deployers ~}
scp -i $${local_file_dir}/${deployer-ppk} -o StrictHostKeyChecking=no -o ConnectTimeout=$${ssh_timeout_s} $${local_file_dir}/$${workspace}.json ${deployer.authentication.username}@${deployer-ips[index]}:$${remote_dir}
%{ endfor ~}

printf "%s\n" "Start uploading deployer SSH keypair"

%{~ for index, deployer in deployers ~}
scp -i $${local_file_dir}/${deployer-ppk} -o StrictHostKeyChecking=no -o ConnectTimeout=$${ssh_timeout_s} $${local_file_dir}/${deployer-ppk} ${deployer.authentication.username}@${deployer-ips[index]}:$${remote_dir}
%{ endfor ~}

%{~ for index, deployer in deployers ~}
scp -i $${local_file_dir}/${deployer-ppk} -o StrictHostKeyChecking=no -o ConnectTimeout=$${ssh_timeout_s} $${local_file_dir}/${deployer-pk} ${deployer.authentication.username}@${deployer-ips[index]}:$${remote_dir}
%{ endfor ~}
