

sap_sid:                       ${sid}
environment:                   ${environment}
kv_uri:                        ${kv_uri}
uname_secret:                  ${uname_secret}
pwd_secret:                    ${pwd_secret}
key_secret:                    ${key_secret}
bom_base_name:                 
sapbits_location_base_path:    

disks:                         yamlencode(${disks})