{
  "deployer": {
    "resource_group_name": "${saplibrary_resource_group_name}",
    "storage_account_name": "${tfstate_storage_account_name}",
    "container_name": "${storagecontainer_deployer_name}",
    "key": "${deployer_tfstate_name}"
  },
  "saplibrary": {
    "resource_group_name": "${saplibrary_resource_group_name}",
    "storage_account_name": "${tfstate_storage_account_name}",
    "container_name": "${storagecontainer_saplibrary_name}",
    "key": "${saplibrary_tfstate_name}"
  }
}
