#!/bin/bash

function main(){

    validate_saplibrary_input_json
    validate_saplibrary_tfstate
}

function validate_saplibrary_input_json(){

    echo "Check if saplibrary.json for sap_library exists:"

    if [ ! -f "${saplibrary_terraform_json_path}" ]; then
        echo "${saplibrary_terraform_json_path} does not exist."
        exit 2
    else 
        echo "${saplibrary_terraform_json_path} exists."
        saplibrary_json_upload
    fi
}

function saplibrary_json_upload(){

    az login --identity > /dev/null
    az storage blob upload -c ${storagecontainer_saplibrary_name} -f ${saplibrary_terraform_json_path} --name ${saplibrary_json_name} --account-name ${tfstate_storage_account_name}
}

function validate_saplibrary_tfstate(){

    echo "Check if terraform.tfstate of sap library exists:"

    if [ ! -f "${saplibrary_terraform_tfstate_path}" ]; then
        echo "${saplibrary_terraform_tfstate_path} does not exist."
        exit 2
    else 
        echo "${saplibrary_terraform_tfstate_path} exists."
        sap_library_remote_backend_init
    fi
}

function validate_saplibrary_remote_state(){

    az login --identity > /dev/null
    remote_state_exists=$(az storage blob exists -c ${storagecontainer_saplibrary_name} --name ${saplibrary_tfstate_name} --account-name ${tfstate_storage_account_name} | jq -r .exists)
    if $remote_state_exists; then
        echo "remote state ${saplibrary_tfstate_name} already exists"
        exit 0
    fi
}

function sap_library_remote_backend_init(){

    echo "Start initialize remote backend for sap library"

    cp ${saplibrary_terraform_tfstate_path} ../

    cd ..
    
    rm -r .terraform

    terraform init -force-copy \
    -backend-config "resource_group_name=${saplibrary_resource_group_name}" \
    -backend-config "storage_account_name=${tfstate_storage_account_name}" \
    -backend-config "container_name=${storagecontainer_saplibrary_name}" \
    -backend-config "key=${saplibrary_tfstate_name}"

    validate_saplibrary_remote_state

    terraform state push "${saplibrary_tfstate_name}"

    rm "${saplibrary_tfstate_name}"
}

main "$@"
