#!/bin/bash

cp ../terraform.tfstate ../../../run/sap_library/

cd ../../../run/sap_library/

terraform init -force-copy \
-backend-config "resource_group_name=${saplibrary-resource-group}" \
-backend-config "storage_account_name=${tfstate-storage-account-name}" \
-backend-config "container_name=saplibrary" \
-backend-config "key=saplibrary.terraform.tfstate"
